@font-face {
    font-family: "Press Start 2P";
    src: url("/assets/PressStart2P-Regular.ttf");
}

.press {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, black, 3, 0.5, 1, 1);
}